.headings {
  font-size: 55px;
  padding: 1rem 7rem;
  color: white;
  text-align: left;
}

@media (max-width: 768px) {
  .headings {
    font-size: 20px;
    padding: 0.5rem 20px;
    text-align: left;
    font-weight: bolder;
  }
}