.cloud-stats-section {
  background-color: #000;
  color: #fff;
  padding: 60px 10%;
}

.cloud-stats-section h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.cloud-stats-section .highlight {
 background-color: blue;
  color: #fff;
  padding: 0 4px;
  border-radius: 2px;
}

/* Underline Highlight */
.cloud-card-underline {
  width: 40px;
  height: 4px;
  background-color: #1100ff;
  margin-bottom: 12px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .cloud-card-underline {
    width: 30px; /* smaller on mobile */
    height: 3px; /* thinner on mobile */
    margin-bottom: 8px;
  }
}

@media (max-width: 480px) {
  .cloud-card-underline {
    width: 25px; /* even smaller on very small screens */
    height: 2px;
    margin-bottom: 6px;
  }
}

.cloud-stats-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.cloud-stat-box {
  flex: 1 1 200px;
  max-width: 240px;
}



.cloud-stat-box h3 {
  font-size: 32px;
  margin: 0 0 12px;
}

.cloud-stat-box p {
  font-size: 15px;
  line-height: 1.5;
}


@media (max-width: 768px) {
  .cloud-stats-section {
    padding: 40px 20px;
    text-align: left;
  }

  .cloud-stats-section h2 {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .cloud-stats-grid {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }

  .cloud-stat-box {
    max-width: 100%;
  }

  .cloud-stat-box h3 {
    font-size: 26px;
  }

  .cloud-stat-box p {
    font-size: 14px;
  }
}
