.filters {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
 
}

.filter-category {
  flex: 1;
  border-right: 1px solid #444;
  padding: 10px 20px;
}

.filter-category:last-child {
  border-right: none;
}

.filter-header {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}


.filter-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 30px;
}

.clear-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.show-btn {
  background: #9b4dff;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
}
.filter-section {
  max-width: 1200px;
 margin-top: auto;
  padding:2rem  7rem;
}
.filter-section h1{
  font-size: 55px;
}
.filter-section p{
  font-size: 20px;
  padding: 10px 2px;
}