.capital-section {
  display: flex;
  background-color: black;
  color: white;
  padding: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.capital-text {
  flex: 1;
  max-width: 55%;
}

.capital-text h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.capital-text p {
  font-size: 18px;
  line-height: 1.7;
}

.capital-card {
  background-color: #2d0054;
  padding: 30px;
  max-width: 35%;

  color: white;
  position: relative;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn {
  background-color: #9a00ff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
}

.capital-card h2 {
  font-size: 48px;
  margin: 20px 0 10px;
}

.capital-card p {
  font-size: 16px;
}

.expanded-data {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.data-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.data-item p {
  font-size: 14px;
  line-height: 1.4;
}
