body {
  background-color: #000;
  font-family: Arial, sans-serif;
}

/* Align form to left instead of center */
.form-container {
 
  margin-left: 20%;   /* Push from left */
  margin-top: 40px;
  padding: 20px;
  color: white;
}

.form-container h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.form-group input {
  width: 70%;
  padding: 20px 40px;
  border: none;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 4px;
  font-size: 18px;   /* Bigger text */
  
}

/* Change placeholder font size */
.form-group input::placeholder {
  font-size: 18px;
  color: #b3b3b3;
 
}

/* Mobile Responsive */
@media (max-width: 480px) {
  .form-container {
    margin-left: 20px; /* Reduce left spacing */
    padding: 15px;
  }

  .form-container h2 {
    font-size: 22px;
  }

  .form-group input {
    padding: 12px;
    font-size: 16px;
  }

  .form-group input::placeholder {
    font-size: 16px;
  }
}
