

.Careerheadcontent {
  color: white;
  font-size: 30px;
  text-align: left;
}

/* ✅ Mobile View (≤768px) */
@media (max-width: 768px) {


  .Careerheadcontent {
    font-size: 18px;     /* smaller body text */
    padding: 0 1.5rem;   /* add spacing for mobile */
    text-align: left;    /* consistent alignment */
  }
}
.headings {
  font-size: 55px;
  padding: 1rem 7rem;
  color: white;
  text-align: left;
  /* desktop */
}

@media (max-width: 768px) {
  .headings {
    font-size: 20px;
    padding: 0.5rem 20px;
    text-align: left;
    font-weight: bolder;
  }

}