.hover-card-wrapper {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 74%;
}

.hover-card-row {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.hover-card {
  position: relative;
  width: 400px;
  height: 450px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;

}

.hover-card:hover {
  transform: translateY(-5px);
}

.hover-card-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.hover-card-title {
  position: absolute;
  top: 10px;
  bottom: 120px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  padding: 40px ;
  z-index: 2;
}

.hover-card-description {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(74, 112, 148);
  color: rgb(255, 255, 255);
  padding: 160px 30px 60px 30px; /* Top padding increased */
  text-align: center;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: flex-start; /* Align text to top within card */
  justify-content: center;
}

/* Hover slide animation */
.hover-slide-left .hover-card-description {
  left: 0;
  transform: translateX(-100%);
}

.hover-slide-left:hover .hover-card-description {
  transform: translateX(0%);
}

.hover-slide-right .hover-card-description {
  right: 0;
  transform: translateX(100%);
}

.hover-slide-right:hover .hover-card-description {
  transform: translateX(0%);
}

/* Responsive styles */
@media (max-width: 768px) {
  .hover-card-row {
    justify-content: center !important;
  }

  .hover-card {
    width: 90%;
    height: auto;
  }

  .hover-card-image {
    height: 300px;
  }

  .hover-card-title {
    bottom: 100px;
    font-size: 18px;
  }

  .hover-card-description {
    font-size: 14px;
    padding: 15px;
  }
}